@import url("http://fonts.cdnfonts.com/css/goudy-old-style");
.wrapper {
  position: absolute;
  top: 7%;
  left: 85%;
  transform: translate(-50%, -50%);
}

a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  padding: 5px 50px;
  border-radius: 15px;
}

a span {
  position: relative;
  z-index: 2;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000000;
  transition: all 0.35s;
  border-radius: 12px;
}

a:hover {
  color: #eeba0b;
}

a:hover:after {
  width: 100%;
}

.wrapper1 {
  position: absolute;
  top: 17%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.wrapper2 {
  position: absolute;
  top: 27%;
  left: 85%;
  transform: translate(-50%, -50%);
}

body {
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  position: absolute;
  top: 50%;
  left: 32%;
  width: 700px;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 22, 115, 0.2);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(700px);
  background-image: url(img/projet1.png);
  -webkit-animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
          animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}

.card_part.card_part-two {
  z-index: 6;
  background-image: url(https://github.com/Flat-Pixels/assets_hosting/blob/master/picture_slides/2.jpg?raw=true);
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 5;
  background-image: url(https://github.com/Flat-Pixels/assets_hosting/blob/master/picture_slides/3.jpg?raw=true);
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 4;
  background-image: url(https://github.com/Flat-Pixels/assets_hosting/blob/master/picture_slides/4.jpg?raw=true);
  -webkit-animation-delay: 21s;
          animation-delay: 21s;
}

@-webkit-keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(-700px);
  }
}

@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(-700px);
  }
}
header {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-between;
  background-color: #eeba0b;
}
header img {
  display: flex;
  width: 15%;
}
header h1 {
  display: flex;
  align-items: center;
  font-size: 80px;
  font-family: "Goudy Old Style", sans-serif;
  padding-right: 35%;
}/*# sourceMappingURL=main.css.map */